.home_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_body h1 {
  color: #16244f;
  font-family: Arial, Helvetica, sans-serif;
}
.home_body h2 {
  font: caption;
}

.home_body button {
  background-color: #6cba5a;
  border: 1px solid black;

  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  margin:10px
}
.home_body button:hover {
  background-color: white;
  border: 2px solid black;
}
