.project_card{
    margin: 15px;
    display: flex;
    border: 2px solid #16244f;
    width: 380px;
    border-radius: 10px;
    padding: 5px;
}
.left{
   padding: 8px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    margin-bottom: 5px;
}
.project_card button{
    background: #16244f;
    color: aliceblue;
    padding: 7px;
}